PORT=4000
NODE_ENV=development
HOST=0.0.0.0

DATABASE_URL="postgresql://postgres:postgres@db:5432/multitenant?schema=public"

JWT_SECRET=supersecretjwt
JWT_EXPIRES_IN=7d
COOKIE_NAME=mt_session

INVITE_TOKEN_BYTES=24
INVITE_EXPIRES_DAYS=7

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100

BCRYPT_COST=10

REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

DELIVERY_CONFIRMATION_TTL=60
DELIVERY_POLLING_INTERVAL_MS=1000

FRONTEND_BASE_URL=http://localhost:3000

RABBITMQ_PREFETCH=50
RABBITMQ_RETRY_MAX=5
WS_NAMESPACE=/rt
WS_CORS_ORIGIN=http://localhost:3000

USE_WS_REDIS_ADAPTER=false
WS_RATE_LIMIT_WINDOW_MS=1000
WS_RATE_LIMIT_MAX=50
WS_RATE_LIMIT_MAX_NOTIFICATION_CREATED=120
WS_INBOUND_RATE_LIMIT_WINDOW_MS=1000
WS_INBOUND_RATE_LIMIT_MAX=30

# Prisma logging levels: query,info,warn,error
# Leave empty, set to "false" or "none" to disable logs
PRISMALOG=false

BACKEND_LOGGING=true
RABBITMQ_LOGGING=true
WEBSOCKET_LOGGING=true

# JWT (usuários)
JWT_SECRET="dev_jwt_secret_3e8b3a9d2c824d45b1c982a0fa12cef2"
JWT_EXPIRES_IN="7d"
JWT_ALGORITHM="HS256"

# Exemplo de chave privada RSA (somente DEV)
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEArwcpJ4cJzFQW+atPuIuKjTYZfm/XYf8RZzGQv+0tbGfjg9k1
6Tw71m2N5r7AlSrTd4NNd9EzuQZicTjZIi+7Ku1R91zP0EJ4H2w2UhNPLZipKz9o
7gXcAbIiwOSuQdxHmgH7s0MjeT2i+kEFyv1C9qFrS44lYVZTLLkFfY9X8gQWyv95
7vWZXY9QFawpVTKqt2n1haGx3ahSgmFJz1Skrp5sQbjriXOXszv0frdeSc8GSFTI
BpY4rV6R1FCUJvq6ma7Cb8KPLyBUmFT8nxYt61dJ9EzxYp4FSfVqp8Y3D2WOUOo4
bmqMut+aaRxsVnrlx+K1QWDLpC+7CHG/4WjYtwIDAQABAoIBAQC3YJ9DXfTBppRx
OqZzmU6LJNqHZpK8HKDrVfHOD1r3GDYFZDojPpU2P8VKfU/7skbq1/Zj8bntY2w0
PqVXoCthZCmV2U6yfTjHew50ZrT6idWNz5mOUTv3i8QY0sVO6fshOEXUqbbZwdN1
Sd4xQf08FU9nCvbLxFiboxS7NKpqPgnHD/csw2a5XTapxudlypGZKUvyPNf8pHOf
TO9CMJpFSxJvIbTqF9tvtZsPSEV29Z0kvh4T9jf0xjX9C2Q2PnSYvWxm6FsutwaG
CE02mz3/v79kh7nLhVhbfO9Dvfi8g0CxKn7dGZ3tY0JssTtvxVW7JHYHexw2V6Zg
Qa85ev75AoGBAOw4HTzQJOq5inpnO2ZQp6Zz2vCHf9wYtA+0sEwxtFpyCj9XniAA
eFz3qJllBtyy0YodgIzz5uxd7J1QFIvI8wuZJf5fN4gMnlCC3RaCpsV0xT0p0gcg
sm3aU3Xz/b1SpXUQ2qz5m5qB7sNt/m5DrCiXugL7a+9lA/6xfOBNh3ftAoGBAM2P
mqwaEN/kfdp2HcPVdLbJZlZyiLBa6AG3i5T+zZJg69PFYHULVs/SGZ3n08JjhZ0w
kMLkXuZUd1Kc1HDEyZx4jF6RtB8YOneVDreI2g2g6DhGJm1bqGtlCEOoKIcxt9nX
dO1Jpfcoxb5aGpmdQD47KxBxx6csm5bjMcMcSEw5AoGAT6qnzQ4IhnpiXlH9QGy6
pJA4+uUXiA1cW8OrSvnso8p35tUZKSDiZKMJiUQD9mqpP1npUYkt0FjRyrar3fn3
acD+w0C0fiQEXDNtyBC7lrn7RE8SXfdnpdz9E6YXZ0JzYCkbgAtAFiGiB0XbqORr
9ZqZd0b/d/hJSJFkssHRI28CgYBYKPSu5IkhlpG6peyAz2lNHE9FvXNkw5x22x87
PyRGVjLu4IGpnqSoe/lfu19MlvEQqfnYNuXdwLTA5nbjxKZ0RcYFudVDXkUZ+oBK
uEcnHKxPFl6i2ezpT+ufN1d5RhpGFJaq/VofyutowdJrCGqKpiwrgIunWAd9WfxE
eqyBtQKBgGQ5HYq8tC46HhNl9oyRAD6Hjcu6ZheTWo2JJtyBxNNXhakN9/8LmA5y
CPWVfqMbS8tTDlZUswQEnCj53ECpQm4u1o6p0Yf3oy6c8rGmoQbZIgqLXgxmU4R5
qpzLbaCwFoVZ1B2GqF2HeZ0hzz28tXJf7fqDZSG8Ck5idzQ8SzVv
-----END RSA PRIVATE KEY-----"

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArwcpJ4cJzFQW+atPuIuK
jTYZfm/XYf8RZzGQv+0tbGfjg9k16Tw71m2N5r7AlSrTd4NNd9EzuQZicTjZIi+7
Ku1R91zP0EJ4H2w2UhNPLZipKz9o7gXcAbIiwOSuQdxHmgH7s0MjeT2i+kEFyv1C
9qFrS44lYVZTLLkFfY9X8gQWyv957vWZXY9QFawpVTKqt2n1haGx3ahSgmFJz1Sk
rp5sQbjriXOXszv0frdeSc8GSFTIBpY4rV6R1FCUJvq6ma7Cb8KPLyBUmFT8nxYt
61dJ9EzxYp4FSfVqp8Y3D2WOUOo4bmqMut+aaRxsVnrlx+K1QWDLpC+7CHG/4WjY
twIDAQAB
-----END PUBLIC KEY-----"

# WORKER JWT / JWE
WORKER_JWT_SECRET="dev_worker_secret_fa93204eb7e343e1b6c2b379421de77c"
WORKER_JWT_ALGORITHM="HS256"

WORKER_JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAw9qOhmytVYwN3o7oQfC8d+GdCQNiY3qTrn5yFfepzVaZk83L
c1guLkqglxCJs8SkqPyi5rKr+KrY3RHjl1Zj9LW/65lzgVt+Meh7gGHeSpx2Y5hi
V93qPmv0P7SZIxMpmflAz0N27rkx0MMmEQ8ztPjCfHESmZD5YVxAfc2SV09vnvR8
WsVtfKHuSctBH3Q7VtSgp3xUfaQ/0qpchLgVjWPe7uSNmL83YUGkyXObQ4aPvE9d
CoIuHudodo67p9iNM6xqC8uX5M56cjTgN4ES0XeViczVJgGeQ0xZpFnewqs8sEb4
cH4eVuHG6fBZ3ayW8BkjDygbdjFMwfXszqfI+QIDAQABAoIBAQCOdxsCty3WHVJZ
ouOtu5h2aQz38hW/FxMyyYtqaDaryCXN+FPR9+0xjtSQgkzSRCKE2vJG0fAoj5iA
V+FqXN9i7bBX6qGAm3MfPMWznwqZkQh7zv1eqvdDOYw2trBeIqg+Jyy0wGezHX66
6Nqp/4oTldFq7jvN/n4qzNU8l7GJAkOeWtkZFxEhNNfQL6wba9jRQfyARgUXJYgb
Je8FqRMma04Gz6mji6tO1IwwgWMPvG/7ydgoIS3gYfUD6L0mtIlKaDQm52IqTZMj
/UJtYyWfTTDU6Lm7wy3zLvrwC0R2cE6msHzZITpybA66wJRan/+S0MfWXE5B4kcK
gwYz1dziAoGBAPa/VLSCG8x7SsDS7OJjqPhRGRtX8CaRqpF2htvJB+YzVBkiIUzF
67YQEhLSCWhHnZjGp72Eo2zP4bQanS2QT5UmJjGnx5gPQtn0ePeKs3h+Eqg1Yic7
Q/hYlIeNjp+gTe5jOuwMcQCSIi+bLJfs1ixXP5m23KEuZKseMAPs/W/LAoGBAMqu
W6mf3Pc8PxNA36yL7zujG64oqItJUu7iFxN0EIR7hl67dE5IAHtuDcKNz9foiKjH
M4f0q6EB8H8GS5gYReI/l4aVHPOfZ0SA5jR6HlCxDl5QkUMH0hEHgUIht3v7YCJg
P8vsr5IsmQgBXuJuV6aOv/xmhInM8MGmbQ0Lr0lLAoGBAMiay/Cn5AdPjuXHHz6g
iYk7sZfDD0+BDlciqLSxPSkbhtOMhMxjYGx1UXLSR/3qpbW1CEX7k3jgEKN6asMK
cEFxMGrZ0MPtSrZXCSBapPwXktz8qFl8pIoYjMhpSExH8CulIrCAp8xQDAMyK/3I
V9kkZUHW4uUfH2v+ZQPLxQyNAoGAJUkxUdmyyNxJ/0VAPpKaGkHd/OXZoayz+EJo
tAPIx/VmB5mhfh0OfBm22gVtyvH8i0g5z2AO3fxPxHfnnIaghsu1/+DwQ4qPkxRD
kMstQeuC+teHDhDcVvuO0Iwi6mcHAGfsMqCBunj6HugWCixGuRsVTtp7I1GphMhu
NOg7Y4sCgYBm2qZ3BF3qzFXi7Aj6dSY4tl7dCBUk6gmKhfbAUH2N+gwGxskFNwvt
J8VvcsnVMnOWiYsgkkgJLfbejwx2ypULW7HKXNmwYpbKGB1BNGWpGKJGOz8eG2uI
sYk5IYZf0UNTEgnw1v4Cx7593Ypnw8qcg8z3Wt5kqjoyDrGyyOz7TA==
-----END RSA PRIVATE KEY-----"

WORKER_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAw9qOhmytVYwN3o7oQfC8
d+GdCQNiY3qTrn5yFfepzVaZk83Lc1guLkqglxCJs8SkqPyi5rKr+KrY3RHjl1Zj
9LW/65lzgVt+Meh7gGHeSpx2Y5hiV93qPmv0P7SZIxMpmflAz0N27rkx0MMmEQ8z
tPjCfHESmZD5YVxAfc2SV09vnvR8WsVtfKHuSctBH3Q7VtSgp3xUfaQ/0qpchLgV
jWPe7uSNmL83YUGkyXObQ4aPvE9dCoIuHudodo67p9iNM6xqC8uX5M56cjTgN4ES
0XeViczVJgGeQ0xZpFnewqs8sEb4cH4eVuHG6fBZ3ayW8BkjDygbdjFMwfXszqfI
+QIDAQAB
-----END PUBLIC KEY-----"

WORKER_JWT_EXPIRES_IN="7d"
WORKER_JWT_COOKIE_NAME="worker_session"

# HTTP CORS
CORS_SITES_ENABLES="http://localhost:3000"
CORS_SITES_ENABLES_ALL=false

# WebSocket CORS
WS_CORS_ORIGIN="http://localhost:3000"
WS_CORS_ORIGIN_ALL=false
